name: game_core
description: "A new Flutter package project."
version: 1.0.0
publish_to: none

environment:
  sdk: ">=3.7.2 <4.0.0"
resolution: workspace

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
